/*

Based off pForm
http://www.phpform.org/

*/

#form_container {
	margin:0 auto;
	text-align:left;
	margin-left:20px;
	width: 245px;
	font-family:Lucida Grande, Tahoma, Arial, Verdana, sans-serif;
	font-size:small;
}

form ul {
	font-size:100%;
	list-style-type:none;
	margin:0;
	padding:0;
	width:100%;
}

form li {
	display:block;
	margin:0;
	padding:4px 5px 2px 9px;
	position:relative;
}

form li:after {
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}

form li {
	height:1%;
}

form li div {
	display:inline-block;
	color:#999;
	margin:0 4px 0 0;
	padding:0 0 8px;
}

form li span {
	color:#999;
	float:left;
	margin:0 4px 0 0;
	padding:0 0 8px;
}

form li div label {
	clear:both;
	color:#999;
	display:block;
	font-size:9px;
	line-height:9px;
	margin:0;
	padding-top:3px;
}

form li span label {
	clear:both;
	color:#999;
	display:block;
	font-size:9px;
	line-height:9px;
	margin:0;
	padding-top:3px;
}

form ul li.first {
	border-top:none !important;
	margin-top:0 !important;
	padding-top:0 !important;
}

label.description {
	border:none;
	color:#FFF;
	display:block;
	font-size:95%;
	font-weight:700;
	line-height:150%;
	padding:0 0 1px;
}

input[type="text"] {
	background:#fff url("../images/form/shadow.gif") repeat-x top;
	border-bottom:1px solid #ddd;
	border-left:1px solid #c3c3c3;
	border-right:1px solid #c3c3c3;
	border-top:1px solid #7c7c7c;
	color:#333;
	font-size:100%;
	margin:0;
	padding:2px 0;
}