/*

Based off pForm
http://www.phpform.org/

*/

#form_container {
	margin:0 auto;
	text-align:left;
	margin-left:20px;
	width: 245px;
	font-family:Lucida Grande, Tahoma, Arial, Verdana, sans-serif;
	font-size:small;
}

form ul {
	font-size:100%;
	list-style-type:none;
	margin:0;
	padding:0;
	width:100%;
}

form li {
	display:block;
	margin:0;
	padding:4px 5px 2px 9px;
	position:relative;
	height: 1%;
}

form li:after {
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}

form li div {
	display:inline-block;
	color:#999;
	margin:0 4px 0 0;
	padding:0 0 8px;
}

form li span {
	color:#999;
	float:left;
	margin:0 4px 0 0;
	padding:0 0 8px;
}

form li div label {
	clear:both;
	color:#999;
	display:block;
	font-size:9px;
	line-height:9px;
	margin:0;
	padding-top:3px;
}

form li span label {
	clear:both;
	color:#999;
	display:block;
	font-size:9px;
	line-height:9px;
	margin:0;
	padding-top:3px;
}

form ul li.first {
	border-top:none !important;
	margin-top:0 !important;
	padding-top:0 !important;
}

label.description {
	border:none;
	color:#FFF;
	display:block;
	font-size:95%;
	line-height:150%;
	padding:0 0 1px;
}

input[type="text"] {
	height: 20px;
	padding: 0;
	margin: 0;
	border: none;
}

select {
	display: block;
	height: 20px;
	line-height: 20px;
	padding: 0;
	margin: 0;
}